<a href="https://colab.research.google.com/github/dataqueenpend/DS_From_Zero_To_Hero/blob/gh-pages/DS__Python_toolset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lambda Functions**

---

*A quicker way to write a functions in Python*

For writing Function with lambda we use:

1.   Lambda function
2.   Specify name(s) of the arguments
3.   Then we use a colon and...
4.   Spcify the expression what we wish the function to return.

In [ ]:
raise_to_power = lambda x, y: x ** y
raise_to_power(2,3)

8

**When to use Lambda function?**
It is not advisible to use Lambda function all the time. They allow to define a function quickly, but they are a bit of dirty part of the code. 


---



**Anonymous functions**
For example map function that takes two arguments, and a sequence (f.e. list), and applies the function on all elements of the given sequence. 

**Why lambda function is useful here?** Because we can pass lambda functions to map without even naming them. Because of that, we call them anonymous functions.

In [ ]:
nums = [48,6,9,4]
square_all = map(lambda num: num **2, nums)

print(square_all)

<map object at 0x7f71f3b90450>

Printing square_all reveals that this is a square object. 

If we want to see what this object contains, we need to print it as a list. 
Like this:

In [ ]:
print(list(square_all))

[2304, 36, 81, 16]

Now - as you can see - square_all, contains elements of the nums list squared with a lambda functions we created. 

---



---
**Exercices!**

Pop quiz on lambda functions
In this exercise, you will practice writing a simple lambda function and calling this function. Recall what you know about lambda functions and answer the following questions:

How would you write a lambda function add_bangs that adds three exclamation points '!!!' to the end of a string a?
How would you call add_bangs with the argument 'hello'?

In [ ]:
add_bangs = (lambda a: a+'!!!')
add_bangs('hello')

'hello!!!'



---

**Exercise #2**

Modify following function into lambda function:

In [ ]:
def echo_word(word1, echo):
    """Concatenate echo copies of word1."""
    words = word1 * echo
    return words

In [ ]:
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1, echo: word1 * echo)

# Call echo_word: result
result = echo_word('hey', 5)

# Print result
print(result)

heyheyheyheyhey



---

**Exercise #3 - map() and lambda function**

Best use for lambda function is for creating functions with anonymously embedded expressions (as in previous example). Which means that those larger expressions are not stored in the function itself. Unlike in the def created functions.

In [ ]:
# Create a list of strings: spells
spells = ["protego", "accio", "expecto patronum", "legilimens"]

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda item: item + '!!!', spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list = list(shout_spells)

# Print the result
print(shout_spells_list)



---
**Exercise #4 - filter() and lambda function**

Creating a lambda function with filter(), we can filter the elemnts from the list, which does not meet our criteria.

In this exercise we will use filter() on input list of strings, to create new list with strings that have more than 6 characters.

In [ ]:
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member)>6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Print result_list
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']



---

**Exercise #5 - reduce() and lambda functions**

Reduce can be useful when we want to perform some computation on a list. Unlike filter() and map() it returns single element. Not a list. 

For using reduce() function we need to **import** it **from functools module** first.

In [ ]:
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1, item2: item1+item2, stark)

# Print the result
print(result)



---



---



---
**Introduction to error handling**

Using a function incorectly, should result in throwing an error. For example:

If you pass as an parameter that function is not programmed to manage, Python will respond with error.

In [ ]:
float(2)

2.0

Correct using of the function above.

Incorrect use of the function below.

In [ ]:
float(2,3)

TypeError: ignored

In [ ]:
float('Hello')

ValueError: ignored

**Why it has occurred?** Because float() function is programmed to take in and convert to float, only a number (string, integer).



---

**Passing invalid arguments**

When writing a function. We should provide useful error messages for the use, that can help him/her_ to easly resolve prompted issue. 


```
# TypeError                                 Traceback (most recent call last)
<ipython-input-2-af3957516e4a> in <module>()
----> 1 float(2,3)

TypeError: float expected at most 1 arguments, got 2
```



Type error, as seen above, sometimes will not provide useful and easy to read information on how to use the function properly. 



---


**Errors and exceptions**

There are multiple error and exceptions that can occur while code execution. One of them is **Exception.**

**How to catch exception?** The main way is to try-except clause. Python tries to run the code following the try. If it runs, all is going according to the written function. But if something is odd, it runs another code. The one following except.  


---
Now we rewrite squareroot function, to cath an exception.

In [ ]:
def sqrt(x):
  """Returns the square root of a number."""
  try:
    return x ** 0.5
  except:
    print('Provide an int or float.')

print(sqrt(3))

1.7320508075688772



---

For more exception error info go to Python documentation available online. 


**Raising an error**

If you want, instead of just printing an error to user, raise an error. You can do so by using a keyword raise. 

Defining a function that doesn't work for negative numbers using raise:

In [ ]:
def sqrt(x):
  """Returns the square root of a number."""
  if x < 0:
    raise ValueError('Provide non-negative number')
  try:
    return x ** 0.5
  except TypeError:
    print('Provide an int or float.')

print(sqrt('-3'))

TypeError: ignored



---



---

**Exercises!**

While creating a function, is good to look at it in a way as some people (or yourself) could use it. It will help you to define exceptions and help users to use the function properly.

Define a function from previous exercise (shout_echo), with your newly aquired skills: try and except.

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ''
    shout_words= ''

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("hello", 3)

word1 must be a string and echo must be an integer.

''



---
**Exercise #2 - Error handling by raising an error**

Add a raise statemnt to shout_echo() function.  Raise an error message when the value supplied by the user to the echo argument is less than 0.

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo < 0:
        raise ValueError('echo must be greater than or equal to 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=5)



---


---
**Sum it up!**

In following lines of codes. I'll try a few dc exercies. Which can be of help in my future work. 

---

**Exercise #1**

Lines of code collected in the bottom are used on pandas DataFrame. They will not work here (because of df is not implemented here). 

**What is the use of this lines?** Selecting desirable columns from uploaded DataFrame. 

Here how it goes!

Using lambda and filter() select tweets, that first 2 characters are 'RT'.

In [ ]:
# Select retweets from the Twitter DataFrame: result
result = filter(lambda x: x[0:2] == 'RT', tweets_df['text'])

# Create list from filter object result: res_list
res_list = list(result)
# Print all retweets in res_list
for tweet in res_list:
    print(tweet)



---

**Exercise #2 - Prevent col name type error**

In [ ]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Add try block
    try:
        # Extract column from DataFrame: col
        col = df[col_name]
        
        # Iterate over the column in dataframe
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
    
        # Return the cols_count dictionary
        return cols_count

    # Add except block
    except:
        print("The DataFrame does not have a ' + col_name ' column")

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)



---

**Exercise #3 - ValueError prompt, if user does not provide valid col name**

In [ ]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Raise a ValueError if col_name is NOT in DataFrame
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
        
        # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)



---



---

**Introduction to iterators**

Here I'll write all theory and exercises for all the basics of iterators, list comprehension and generators. Crucial for any Data Scientist in the work. 

**Iterating with a for loop.** When we want to print out every element of the list using for loop. We are iterating over this list.

In [ ]:
list = [1,2,3,4]
for num in list:
  print(num)

1
2
3
4

---
**Iterating with a for loop over characters in string.** Like this->

In [ ]:
for char in 'I love Data':
  print(char)

I

l
o
v
e

D
a
t
a



---

**Iterating over sequence of numbers using range object.** Remember that in Python index starts with zero.

In [ ]:
for num in range(8):
  print(num)

0
1
2
3
4
5
6
7



---

**Can we iterate over all objects?** No. To iterate over an object, this object must be - so called - iterable. **What kind of objects are iterable?** For example:

*   strings
*   list

*   dictionaries
*   file conections...

All the objects that are associated with iter() method. Once we apply iter() method on iterable objects, iterator is created.
So iterators are actually objects which are taken from iterable object and used to iterate over it. 

Iterators are objects that are defined as a objects associated with next() method. This method is used to produce consecutive values. 

---



**Creating iterator from iterable with iter() and iterating over iterable with next().**

In [ ]:
word = 'Love'
count = iter(word)
next(count)

'L'

In [ ]:
#call the next method() to print another letter
next(count)

'o'

In [ ]:
#and another, and another
next(count)

'v'

In [ ]:
next(count)

'e'

Until there is none left. And the iteration error will raise.

In [ ]:
next(count)

StopIteration: ignored

or... if you want to iterate over whole word at once. Try this:

In [ ]:
word2 = 'Star'
fallen = iter(word2)
print(*fallen)

S t a r

Remember that you can't print the word again. The are no values left to print!

---

**Iterating over dictionaries**
To iterate over dictionaries key-value pairs we need to unpack them with item() method.

In [ ]:
dictionary = {'star': 'sun', 'planet': 'mars', 'satellite': 'moon'}
for key, value in dictionary.items():
  print(key,value)

star sun
planet mars
satellite moon



---

**Iterating over file connections** with next and iter methods to return the lines from the file. 

```
file = open('file.txt')
iterator = iter(file)
print(next(iterator))
```



---
**Exercise #1**

In [ ]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3):
    print(num)

# Create an iterator for range(10 ** 100): googol
googol = iter(range(10 ** 100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))



---
**Exercise #2 - iterators as function parameters**
Some function takes iterable and iterators as parameters. List() function returns a list and sum() function returns a sum of elements respectively.

In [ ]:
# Create a range object: values
values = range(10,21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)



---
**Enumerate, zip and unzip**

*   Enumerate - is a function, that allows to add a counter to any iterable. Takes in any iterable as an argument(list, string etc.) and returns an enumerate object.
This enumerate object consists original elements of iterable and index going along with those elements. 
*   Element listy

In [ ]:
best_avengers = ['thor', 'iron man', 'hulk', 'black widow']
enum = enumerate(best_avengers)
print(type(enum))

<class 'enumerate'>

What can we do with this enumerate objecte? For example turn in into list of tuples, using on it list() function. When we print it, we'll be able to see what it contains.

In [ ]:
list(enum)

[(0, 'thor'), (1, 'iron man'), (2, 'hulk'), (3, 'black widow')]

Enumerate object is an iterable itself. So, we can iterate over it in a for loop and unpack the elements of it.

In [ ]:
best_avengers_l = ['thor', 'iron man', 'hulk', 'black widow']
for index, value in enumerate(best_avengers_l):
  print(index,value)

0 thor
1 iron man
2 hulk
3 black widow

As you see default behaviour of function enumerate is to begin with index 0. If you want to start the index with different value, just add an argument start= . And set it to desirable value.

In [ ]:
best_avengers_s = ['thor', 'iron man', 'hulk', 'black widow']
for index, value in enumerate(best_avengers_s, start=2):
  print(index,value)

2 thor
3 iron man
4 hulk
5 black widow



---
*   Zip - function which allows to stitch-together any number of iterables. Takes in an arbitrary number of iterables and returns iterator of tuples.

In [ ]:
best_avengers_z = ['thor', 'iron man', 'hulk', 'black widow']
namez = ['son of odin', 'tony', "don't remember", 'scarlett xD']
z = zip(best_avengers_z, namez)
print(type(z))

<class 'zip'>

By using zip function on those two lists, we created a zip object. Which is an iterator of tuples. Let's turn this object into a list, to see what is hidden there!

In [ ]:
z_list = list(z)
print(z_list)

[('thor', 'son of odin'), ('iron man', 'tony'), ('hulk', "don't remember"), ('black widow', 'scarlett xD')]

First element of each tuple is created from the subsequent elements of the first list. The second element of each tuple is created from subsequent elements of the second list.

As an alternative, we can also loop over zip object and print the tuples.

In [ ]:
for z1, z2 in zip(best_avengers_z, namez):
  print(z1, z2)

thor son of odin
iron man tony
hulk don't remember
black widow scarlett xD

Or use a splat operator to print all elements.

In [ ]:
z = zip(best_avengers_z, namez)
print(*z)

('thor', 'son of odin') ('iron man', 'tony') ('hulk', "don't remember") ('black widow', 'scarlett xD')



---

We don't have an unzip function. But we can reverse the doings of the zip function by using *. If you want to unpack zipped tuples try print them like in above example. Or the one, that I'll write below :).

In [ ]:
mutants = (1,2,3,4)
powers = ('a','b','c','d')
# Create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# Print the tuples in z1 by unpacking with *
print(*z1)

# Re-create a zip object from mutants and powers: z1
z1 = zip(mutants, powers)

# 'Unzip' the tuples in z1 by unpacking with * and zip(): result1, result2
result1, result2 = zip(*z1)

# Check if unpacked tuples are equivalent to original tuples
print(result1 == mutants)
print(result2 == powers)

(1, 'a') (2, 'b') (3, 'c') (4, 'd')
True
True



---
**Using iterators to load large amount of data into memory**
Pulling data from a file, api, database? Having trouble holding it into memory? You can split the data and upload it in parts, then after performing all the necessary operations, discard the part(you worked on), save the result and load the next part etc. Don't you think that this is a good job for a iterator? IT IS!


Pandas function read_csv provide an option, which will be really helpful while working with large amount of data in parts(chunks) and iterating over them. We can do it by specifing the argument called chunksize.

---

**Example!!**

We have a large amount of data in column 'x' of csv file. Col 'x' contains a numbers and we want to compute the sum of it. 

Step by step...

1.   Import pandas
2.   Create and empty list to hold result of each iteration
3.   Creating a for loop with csv file*
4.   Inside the for loop we compute the sum of the col 'x' and append the result into earlier created list. 
5.   Once loop is finished (iterated over all values in col 'x') we sum all the sums, which are store in a list. 

*Object created by read_csv is iterable. So we can easily iterate over it. Each chunk of data will be a DataFrame.




```
import pandas as pd
result = []
for chunk in pd.read_csv('data.csv', chunksize = 1000):
  result.append(sum(chunk['x']))
total = sum(result)
print(total)
```

Alternativily we can do it like this:

```
import pandas as pd
total = 0
for chunk in pd.read_csv('data.csv', chunksize = 1000):
  total += sum(chunk['x'])
print(total)
```



---



---
And now more examples of the code (which will not work here - the datasets are not loaded in this enviroment).

Iterating over column 'lang' in tweets DataFrame. With each iteration we add number of entries in each language.

In [ ]:
# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv', chunksize = 10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)



---
Don't want to write the same lines of codes over and over? You guessed it. We'll define a function here, which will help us to use the necessary code whenever we want to.

In [ ]:
# Define count_entries()
def count_entries(csv_file, c_size, colname):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Initialize an empty dictionary: counts_dict
    counts_dict = {}

    # Iterate over the file chunk by chunk
    for chunk in pd.read_csv(csv_file, chunksize = c_size):

        # Iterate over the column in DataFrame
        for entry in chunk[colname]:
            if entry in counts_dict.keys():
                counts_dict[entry] += 1
            else:
                counts_dict[entry] = 1

    # Return counts_dict
    return counts_dict

# Call count_entries(): result_counts
result_counts = count_entries('tweets.csv', 10, 'lang')

# Print result_counts
print(result_counts)



---



---
**List comprehension**

There are 3 elements that are needed for list comprehension:

1.   Iterable
2.   Iterator
3.   Output expression

With this glorious 3 we can almost replace out traditional for loop. See how...



For example pursposes: 

We have a list, and we want to create a new list. To every element in a new list we append +1. We can do it with a for loop like this:

In [1]:
list = [1,2,3,4]
new_list = []
for num in list:
  new_list.append(num + 1)
print(new_list)

[2, 3, 4, 5]

But you can perform the same computation in just one line of code by using list comprehension. 

**How to use list comprehension?** Within square brackets we write values we wish to create (an output expression) followed by the for clause referencing to the original list.

In [2]:
listc = [1,2,3,4]
new_listc = [num + 1 for num in listc]
print(new_listc)

[2, 3, 4, 5]



---
List comprehension can be used not only with lists. But every iterable object!

**List comprehension with range() object**

In [3]:
ran = [num for num in range(7)]
print(ran)

[0, 1, 2, 3, 4, 5, 6]

**List comprehension with nested for loops**
Creating a list of tuple pairs using nested for loop. Outer for loop produce num in range (0,2). Inner for loop produce num in range (7,9).

In [7]:
tup_pair_list = []
for val1 in range(0, 2):
  for val2 in range(7, 9):
    vals = (val1, val2)
    tup_pair_list.append(vals)
print(tup_pair_list)

[(0, 7), (0, 8), (1, 7), (1, 8)]

The same list of tuples creation using list comprehension

In [8]:
tup_pair_list_c = [(val1, val2) for val1 in range(0, 2) for val2 in range(7, 9)]
print(tup_pair_list_c)

[(0, 7), (0, 8), (1, 7), (1, 8)]



---

**Exercise #1** Print the first letter of each word store in a list.

In [11]:
animals = ['cat', 'dog', 'parrot', 'horse']
anima_first = [anim[0] for anim in animals]
print(anima_first)

['c', 'd', 'p', 'h']



---

**Exercise #2** Create a matrice with list comprehension.

What is a matrice? Multi-dimensional object. In Python is represented as a list of lists. 



```
matrix = [[0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4],
          [0, 1, 2, 3, 4]]
```

In [12]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(0,5)] for row in range(0, 5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]



---
**Conditionals in comprehensions**