<a href="https://colab.research.google.com/github/dataqueenpend/DS_From_Zero_To_Hero/blob/gh-pages/r_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [ ]:
%%R
z <- c(pi, 205, 149, -2)
y <- c(z, 555, z)
y <- 2 * y + 760
my_sqrt <- sqrt(y - 1)

In [ ]:
%%R
my_sqrt

[1] 27.66375 34.19064 32.51154 27.47726 43.23193 27.66375 34.19064 32.51154
[9] 27.47726

In [ ]:
%%R
NA + 5

[1] NA

In [ ]:
%%R
NA+5

[1] NA

In [ ]:
%%R
age <- c(12, 28, 35, 27, NA, 25, 32, 45, 31, 23, NA, 34)

In [ ]:
%%R
age[!is.na(age)]

 [1] 12 28 35 27 25 32 45 31 23 34

In [ ]:
%%R
age[c(1, 2, 3, 4, 6, 7, 8, 9, 10, 12)]

 [1] 12 28 35 27 25 32 45 31 23 34

In [ ]:
%%R
age[c(-5, -11)]

 [1] 12 28 35 27 25 32 45 31 23 34

In [ ]:
%%R
age[-c(5, 11)]

 [1] 12 28 35 27 25 32 45 31 23 34

In [ ]:
%%R
library(tidyverse)
papers <- as_tibble(read_csv("/content/CitesforSara.csv"))

Rows: 4182 Columns: 22
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): journal, title, au1, au2, au3
dbl (17): year, cites, female1, female2, female3, page, order, nauthor, past...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [ ]:
 %%R
 papers_select <- select(papers, journal, year, cites, title, au1)

In [ ]:
 %%R
 head(papers_select)

# A tibble: 6 × 5
  journal                   year cites title                          au1
  <chr>                    <dbl> <dbl> <chr>                          <chr>
1 American-Economic-Review  1993    31 Jeux Sans Frontieres:  Tax Co… Kanbur,-R…
2 American-Economic-Review  1993     4 Changes in Economic Instabili… James,-Jo…
3 American-Economic-Review  1993    28 Factor Shares and Savings in … Bertola,-…
4 American-Economic-Review  1993    10 Strategic Discipline in Monet… Garfinkel…
5 American-Economic-Review  1993     5 Will Affirmative-Action Polic… Coate,-St…
6 American-Economic-Review  1993    21 Mergers and Market Power:  Ev… Kim,-E.-H…

In [ ]:
 %%R
rows100 <- filter(papers_select, cites >= 100)
rows100

# A tibble: 205 × 5
   journal                   year cites title                         au1
   <chr>                    <dbl> <dbl> <chr>                         <chr>
 1 American-Economic-Review  1994   117 Is Inequality Harmful for Gr… Persson,-…
 2 Econometrica              1971   149 Further Evidence on the Esti… Nerlove,-…
 3 Econometrica              1971   170 The Use of Variance Componen… Maddala,-…
 4 Econometrica              1971   155 Investment Under Uncertainty  Lucas,-Ro…
 5 Econometrica              1971   139 Some Statistical Models for … Cragg,-Jo…
 6 Econometrica              1971   108 Identification in Parametric… Rothenber…
 7 Econometrica              1972   164 Methods of Estimation for Ma… Fair,-Ray…
 8 Econometrica              1972   150 Existence of Equilibrium of … Radner,-R…
 9 Econometrica              1973   361 Manipulation of Voting Schem… Gibbard,-…
10 Econometrica              1973   107 On a Class of Equilibrium Co… Kramer,-G…
# … with 195 more rows

In [ ]:
 %%R
group <- group_by(papers_select, journal)
group

# A tibble: 4,182 × 5
# Groups:   journal [7]
   journal                   year cites title                         au1
   <chr>                    <dbl> <dbl> <chr>                         <chr>
 1 American-Economic-Review  1993    31 Jeux Sans Frontieres:  Tax C… Kanbur,-R…
 2 American-Economic-Review  1993     4 Changes in Economic Instabil… James,-Jo…
 3 American-Economic-Review  1993    28 Factor Shares and Savings in… Bertola,-…
 4 American-Economic-Review  1993    10 Strategic Discipline in Mone… Garfinkel…
 5 American-Economic-Review  1993     5 Will Affirmative-Action Poli… Coate,-St…
 6 American-Economic-Review  1993    21 Mergers and Market Power:  E… Kim,-E.-H…
 7 American-Economic-Review  1993    45 A Search-Theoretic Approach … Kiyotaki,…
 8 American-Economic-Review  1993    13 An Experimental Test of the … Andreoni,…
 9 American-Economic-Review  1993     5 A General Experiment on Barg… Kahn,-Law…
10 American-Economic-Review  1993     2 Nominal-Contracting Theories… Keane,-Mi…
# … with 4,172 more rows

In [ ]:
%%R

papers_female <- select(papers, contains("female"))

In [ ]:
import pandas as pd

df=pd.read_csv('/content/CitesforSara.csv')
df.head()
selected = df[['journal', 'year', 'cites', 'title', 'au1']]
selected.head()

                    journal  ...                     au1
0  American-Economic-Review  ...            Kanbur,-Ravi
1  American-Economic-Review  ...          James,-John-A.
2  American-Economic-Review  ...       Bertola,-Giuseppe
3  American-Economic-Review  ...  Garfinkel,-Michelle-R.
4  American-Economic-Review  ...          Coate,-Stephen

[5 rows x 5 columns]

In [ ]:
sel = selected
sel.head()

                    journal  ...                     au1
0  American-Economic-Review  ...            Kanbur,-Ravi
1  American-Economic-Review  ...          James,-John-A.
2  American-Economic-Review  ...       Bertola,-Giuseppe
3  American-Economic-Review  ...  Garfinkel,-Michelle-R.
4  American-Economic-Review  ...          Coate,-Stephen

[5 rows x 5 columns]

In [ ]:
df.groupby('journal').agg({'cites': 'sum'})

                                    cites
journal
American-Economic-Review             3738
Econometrica                        75789
Journal-of-Political-Economy         3398
Quarterly-Journal-of-Economics       8844
Review-of-Economic-Studies          21937
Review-of-Economics-and-Statistics   8473

In [ ]:
sel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4182 entries, 0 to 4181
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   journal  4176 non-null   object
 1   year     4182 non-null   int64
 2   cites    4182 non-null   int64
 3   title    4181 non-null   object
 4   au1      4179 non-null   object
dtypes: int64(2), object(3)
memory usage: 163.5+ KB

In [ ]:
df['au1'].value_counts().sort_index()

 Williamson,-Stephen-D.            1
Aaron,-Henry-J.                    1
Abbott,-Michael                    1
Abel,-Andrew-B.                    9
Abowd,-John-M.                     2
                                  ..
van-der-Ploeg,-Frederick           1
von-Thadden,-Ernst-Ludwig          1
von-Ungern-Sternberg,-Thomas       1
von-Weizsacker,-C.-Christian       1
von-der-Fehr,-Nils-Henrik-Morch    1
Name: au1, Length: 2332, dtype: int64